.addtask__container {
  display: flex;
  margin: 30px 0;
  justify-content: center;
}

.addtask__input {
  width: 300px;
  margin-right: 10px;
  padding: 7px 9px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addtask__input:focus {
  border-color: #3c0080;
}

input.addtask__input::placeholder {
  font-weight: 500;
}

.addtask__button {
  padding: 8px;
  border-radius: 5px;
  border: 0;
  background-color: #e11299;
  color: white;
  cursor: pointer;
  box-shadow: rgba(154, 32, 140, 0.4) 0px 0px 0px 2px,
    rgba(154, 32, 140, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
