.tasklist__wrapper {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

.tasklist__container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tasklist__message {
  width: 100%;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
