.tab__container {
  width: 290px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tab__button {
  width: 89px;
  vertical-align: middle;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  font-family: inherit;
  font-weight: 800;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: color, border, background-color;
  border: 1px solid transparent;
  /* box-shadow: rgba(154, 32, 140, 0.4) 0px 0px 0px 2px,
      rgba(154, 32, 140, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: box-shadow 0.1s ease-in-out; */
}

/* .tab__button:hover {
    box-shadow: rgba(154, 32, 140, 0.4) 0px 0px 0px 2px,
      rgba(154, 32, 140, 0.65) 0px 4px 6px -1px,
      rgba(154, 32, 140, 0.65) 0px 1px 0px inset;
  }
  
  .tab__button:active {
    box-shadow: rgba(154, 32, 140, 0.89) 0px 0px 0px 2px,
      rgba(154, 32, 140, 0.65) 0px 4px 6px -1px,
      rgba(154, 32, 140, 0.65) 0px 1px 0px inset;
  } */

.tab__active {
  text-decoration: underline;
}
