.taskcard__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  max-width: 150px;
  margin: 10px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid transparent;
  outline: 2px solid transparent;
  font-size: 1em;
  font-family: Montserrat, "Roboto";
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.taskcard__container:hover {
  outline-color: hsl(160, 100%, 60%);
  transform: translateY(-2px);
}

.taskcard__heading {
  height: 60px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

.taskcard__button_group {
  display: flex;
  flex-flow: column;
}

.taskcard__button_done,
.taskcard__button_remove {
  border: 1px solid transparent;
  width: 148px;
  height: 35px;
  outline: none;
  margin: 5px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  font-family: inherit;
  transition: 0.2s all ease-in-out;
}

.taskcard__button_done:active,
.taskcard__button_remove:active {
  outline: 2px solid #94af9f;
}

.taskcard__button_done:disabled {
  cursor: not-allowed;
  pointer-events: none;
}
