.th__container {
  right: 10px;
  bottom: 10px;
}

.th__button {
  padding: 0;
  border: 0;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
}

.th__button_light {
  background-color: #f6f8fa;
  vertical-align: middle;
  color: #444c56;
  transition-property: background-color, color, border, outline;
  transition-duration: 0.2s;
}

.th__button_light:hover {
  background-color: #e6f7ff;
  color: #0a80a5;
  font-weight: 600;
}

.th__button_dark {
  color: #adbac7;
  background-color: #2d333b;
  border-radius: 100px;
}

.th__button_dark:hover {
  background-color: rgba(246, 247, 249, 0.05);
}
