html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, "Open Sans", "Roboto";
}

#root {
  margin: 0 auto;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  font-family: inherit;
  /* border: 1px solid green; */
}
